.findList{
    display: inline-block;
    width: 50%;
    min-height: 40rem;
    height: 1300px;
    vertical-align: middle;
    margin-bottom: 4rem;

}
.lead-find{
    width:auto;
    height:40px;
    display: block;
    margin: 0 auto;
    padding:0;
}
.list-item-wrapper{
    background:#D9DBDA;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    border-radius: 1rem;
    border:1px groove #D9DBDA;
    margin-top: 4rem;
    min-height: 10rem;
    -webkit-box-align: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
.list-item-img{
    border-radius: 50%;
    margin-left:1rem;
    margin-top:1rem;
    webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
.favourite-pale{
    width: 8rem;
    justify-self:end;
    margin-left:auto;
    padding-right: 1rem;
    margin-top:1rem;
}
.list-item-hash-wrapper{
    display: flex;
    margin:0 auto;
    width:100%;
 
}
.list-item-text-container{
    display: flex;
    width:90%;
    text-align: left;
    flex-direction: column;
}
.more{
    width: 8rem;
    height: 2.2rem;
    line-height:-3rem;

}
.list-item-name{
    font-weight: bolder;
    width:70%;
    height:65px;
    color: #2B3942;
    font-size: 1.8rem!important;
    text-transform: uppercase;
    margin-left: 1rem;
    margin-top:-1.4rem;
    letter-spacing: -2px;
}
.list-item-hash:first-child{  
    margin-left:-5rem!important;
    padding-top:2rem!important;
    font-size: 1.1rem;
    letter-spacing: .05rem;
    font-style: italic;
    
}
.list-item-hash{
    color: #2B3942;
    letter-spacing: .05rem;
    padding-left:.3rem;
    padding-top:2rem!important;
    font-size: 1.1rem;
    font-style: italic;

}