.searchBarBox{
    margin: 0 auto;
    padding-top:5rem;
    min-height: 17rem;
   border-bottom: 1px solid black;

}
.searchBar{
    margin-top: 3rem;
    width: 70rem;
    border-radius: .3rem;
}
.searchBarInput {
    width: 50rem !important;
    min-height: 4rem;
    margin: 0.5rem 0 0.5rem 6rem;
}
.searchBtn{
    min-height: 4rem;
    min-width: 4rem;
    margin-left:2rem;

}
.SearchBarFilterText{
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    color: #272727;
    font-size: 1.4rem;
    padding: 1rem;
}

.selectWrapper{

display: block;
margin-left: 17rem;
padding-bottom:1rem;
}
.selectWrapper select {
    margin:0 2rem;
}