.searchBarBox{
    margin: 0 auto;
    margin-top:6rem;
    padding-top:5rem;
    min-height: 30rem;
   padding-bottom:5rem;
   background-image: url('../../img/Home/alt_home.JPG');
 background-repeat: no-repeat;
 background-size: 1270px 30rem;
 
}
.input-wrapper{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}
.searchBar{

    width: 70rem;
    border-radius: .3rem;

}
.searchBarInput {
    width: 35rem !important;
    min-height: 3rem;
    margin: 0 0.5rem;
    
}
.select-wrapper{

display: flex;
width:28rem;
min-height: 4rem;
justify-content: flex-end;
margin: 0 2rem;
vertical-align: middle;

}
.searchBtn{
   height: 3rem;
   width: 3rem;
    
  

}
.SearchBarFilterText{
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.4rem;
    padding: 1rem;
    color:#fff;
}


.select-wrapper select{
    
    vertical-align: middle;
    width:200px;
    height: 3rem;
    margin: 0 1rem;
    opacity:.8;


}
.searchBar-orange-wrapper{
    background: orange;
    margin: 0 auto;
    margin-top:18rem;
    height: 4rem;
    width:68rem;
    border-radius:.8rem;
    opacity: .98;
}