.list{
    display: inline-block;
    width: 50%;
    min-height: 40rem;
    height: 1600px;
    vertical-align: middle;
    margin-bottom: 4rem;
}
.lead-find{
    width:auto;
    height:40px;
    display: block;
    margin: 0 auto;
    padding:0;
}
.list-item-wrapper{
    background:#D9DBDA;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    border-radius: 1rem;
    border:1px groove #D9DBDA;
    margin-top: 4rem;
    height:12rem;
    -webkit-box-align: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
.list-item-img{
    border-radius: 50%;
    width:80px;
    height:80px;
    margin-left:1rem;
    margin-top:1rem;
    webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.favourite-pale{
    width: 8rem;
    justify-self:end;
    margin-left:auto;
    padding-right: 1rem;
    margin-top:1rem;
}
.list-item-hash-wrapper{
    display: flex;
    margin:0 auto;
    width:300px;
    height: 40px;
    margin-bottom:1rem;
   
  
}
.list-item-text-container{
    display: flex;
    width:90%;
    height:220px;
    text-align: left;
    flex-direction: column;
}
.more{
    display: inline-block;
    width: 8rem;
    height: 2.1rem;
    margin-right: 1.5rem;
  align-self: flex-end;
  margin-bottom: 2rem;

}
.list-item-name{
    font-weight: 900;
    width:70%;
    color: #2B3942;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-left: 1rem;
    margin-top:-1.4rem;
    letter-spacing: -2px;
}

.list-item-hash{
    color: #2B3942;
    letter-spacing: .05rem;
    background: rgba(161, 161, 161, 0.26);
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    font-family: monospace;
    margin-top:-.5rem;
    padding: 6px 2px;
    

}
.list-item-hash:first-child{  
    margin-left:-5rem!important;
    padding-right:8px;
    /* padding-top:2rem!important; */
  
 
    
}