.title{
    width:10rem;
    margin: 20px;
    }

.lost_detail_container{ 
    text-align: justify;
    line-height: 40px;
    margin: 0 auto;
    width: 70%;
    min-height: 500px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #D9DBDA;
    border-radius: 10px; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    
}
.lost-item-img{
    border: inset;
    border-radius: 3px;
    height: 400px;
    width: 400px;
    border-width: 1px;
    margin: 20px;
    float: left;

}
