.footer{
    min-height: 10rem;
    margin:0 auto;
    text-align: center;
    background:#D9DBDA;
    width:100vw;

}
.footer-container{
    max-width: 1270px;
    margin:0 auto;
    width:100%;
   
}
.footer-img{
    width:14rem;
    padding-top:1rem;
    display: block;
}
.footer-link{
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.footer-link:hover{
    color:orange;
    text-decoration: none;
}